$def with (form, qids, qids_len, msg)
<!doctype html>

<html>
<head>
	<title>upload tool - dev</title>
	<link type="text/css" href="static/css/lib/ui-lightness/jquery-ui-1.8.23.custom.css" 
	      rel="Stylesheet" />	
	<script type="text/javascript" src="static/js/lib/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="static/js/lib/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript">
		// TODO -- add form-specific code here...
		jQuery(function() {
			var qidvals = new Array($qids_len);

			$for qid in qids:
				qidvals[$loop.index0] = "$qid";

			res = jQuery("#qid").length;
			if (res) {
				console.log('selected ' + res + ' items');
			} else {
				console.log('selected nothing...');			
			}

			//jQuery("#qid").autocomplete({ source : testvals });
			jQuery("#qid").autocomplete({
				source : qidvals
			}
			);

		});
	</script>
</head>
<body>
<div id="message">$msg</div>
<form name="main" method="post" enctype="multipart/form-data"> 
$if not form.valid: 
	<p class="error">Error uploading file.</p>
$:form.render()
</form>
<p>
<a href="/uploadscans/logout">logout</a>
</body>
